@import "normalize-SCSS";
/* ------------------------- Style -------------------------- */
html {
	font-family: 'Jura', sans-serif;
	font-size: 32px;
	font-weight: 400;
	font-style: normal;
	color: white;
}
body {
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	position: relative;
}
* {
	user-select: none;
}
.body_gradient {
	background: linear-gradient(45deg, #1CB5E0 0%, #000851 100%) fixed;
}
.body_animation {
	position: fixed;
	height: 100vh;
	height: calc(var(--vh,1vh)*100);
	top: 0;
	left: 0;
}
.body__container {
	box-sizing: border-box;
	max-width: 1900px;
	height: 100vh;
	height: calc(var(--vh,1vh)*100);
	margin: 0 auto;
	padding: 30px;
	position: relative;
}
.btn_opacity {
	background-color: rgba(255,255,255,0.4);
	transition: background-color 0.5s linear;
	transform: translateZ(0);
	&:hover {
		background-color: rgba(255,255,255,1);
	}
}
.body_update-box {
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh,1vh)*100);
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.body__update {
	width: 0;
	height: 0;
	box-sizing: border-box;
	border-radius: 50%;
	background: radial-gradient(at center, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 100%);
	position: fixed;
	transform: translateY(-50%) translateX(-50%);
	top: 50%;
	left: 0;
	transition: opacity 0.3s linear;
}
/* ----------------------- Animation ------------------------ */
@keyframes rotElem {
	0% {
		transform: translateY(-50%) rotate(-15deg);
	}
	50% {
		transform: translateY(-50%) rotate(+15deg);
	}
	100% {
		transform: translateY(-50%) rotate(-15deg);
	}
}
@keyframes rotBtn {
	0% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(+15deg);
	}
	100% {
		transform: rotate(-15deg);
	}
}
/* --------------------- SVG Elem Game ---------------------- */
#svg-elem-0 {
}
#svg-elem-1 {
}
#svg-elem-2 {
}
#svg-elem-3 {
}
#svg-elem-4 {
}
#svg-elem-5 {
}
#svg-elem-6 {
	stroke-width: 1;
	stroke: white;
	fill: white;
}
#svg-elem-7 {
	stroke-width: 1;
	stroke-linecap: round;
}
#svg-elem-8 {
	stroke-width: 1;
	stroke-linecap: round;
}
#svg-elem-9{
	stroke-width: 1;
	stroke-linecap: round;
	stroke-dasharray: 5;
	stroke: white;
	fill: none;
}
/* ------------------------ BLOCK 0 ------------------------- */
.block-loading {
	//box-svg-lamp {  } // создаёт JS
	&__box {
		box-sizing: border-box;
		max-width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	&__box-svg {
		max-width: 700px;
		height: 100vh;
		height: calc(var(--vh,1vh)*97);
	}
	&__text {
		width: 320px;
		cursor: wait;
		text-align: center;
		& b:hover{
			color: lightgray;
		}
	}
}
/* ------------------------ BLOCK 1 ------------------------- */
.block-start {
	//box-svg-lamp {  } // создаёт JS
	&__box {
		box-sizing: border-box;
		max-width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	&__box-svg {
		max-width: 700px;
		height: 97vh;
		height: calc(var(--vh,1vh)*97);
	}
	&__box-title {
		text-align: center;
	}
	&__title {
		font-size: 5rem;
	}
	&__text {
		margin-top: 10px;
	}
	&__btn {
		width: 275px;
		margin: 50px 0;
		box-sizing: border-box;
		border: 1px solid var(--colorItem,#0F669F);
		border-radius: 7px;
		cursor: pointer;
		color: var(--colorItem,#0F669F);
		&:hover {
			border-color: black;
		}
	}
	&__copyright {
		font-size: 0.7rem;
		margin: 0;
	}
	&__link {
		color: white;
		text-decoration: none;
		position: relative;
		&:after {
			display: block;
			content: "";
			background-color: white;
			height: 1px;
			width: 0;
			position: absolute;
			left: 50%;
			top: 105%;
			transition: width .5s ease-in-out;
			transform: translateX(-50%);
		}
		&:hover:after {
			width: 100%;
		}
	}
}
/* ----------------------- BLOCK 2-3 ------------------------ */
.block-connect {
	//box-svg-lamp {  } // создаёт JS
	&__box {
		box-sizing: border-box;
		max-width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	&__info {
		width: 40%;
		height: 100vh;
		height: calc(var(--vh,1vh)*97);
		padding: 5px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__title {
		font-size: 4rem;
		letter-spacing: 10px;
		flex: 0 1;
	}
	&__box-svg {
		flex: 0 1 700px;
	}
	&__box-form {
		height: 100vh;
		height: calc(var(--vh,1vh)*97);
		padding: 5px 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__subtitle {
		font-size: 2rem;
		padding-bottom: 10vh;
	}
	&__form {
		box-sizing: border-box;
		padding: 15px;
		border: 2px solid var(--colorItem,#0F669F);
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 20px;
	}
	&__block-inputs {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__box-input {
		display: flex;
		padding-bottom: 10px;
	}
	&__label-text {
	}
	&__label {
		&_size {
			width: 320px;
			flex: 0 0 320px;
		}
	}
	&__for-input {
		max-width: 360px;
		flex: 0 1 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	&__input {
		width: 98%;
		border: 1px solid var(--colorItem,#0F669F);
		border-radius: 7px;
		text-transform: uppercase;
		color: var(--colorItem,black);
		&:focus {
			outline-color: var(--colorItem,black);
			color: black;
		}
	}
	&__text-info {
		width: 100%;
		height: 52px;
		font-size: 0.6rem;
		font-style: italic;
		color: yellow;
		text-align: justify;
	}
	&__box-btn {
		display: flex;
		justify-content: center;
	}
	&__btn1-login, &__btn1-reg, &__btn2-login, &__btn2-reg{
		width: 275px;
		margin: 0 20px;
		box-sizing: border-box;
		border: 1px solid var(--colorItem,#0F669F);
		border-radius: 7px;
		cursor: pointer;
		color: var(--colorItem,#0F669F);
		&:hover {
			border-color: black;
		}
	}
}
/* ------------------------ BLOCK 4 ------------------------- */
.block-game {
	&__box {
		box-sizing: border-box;
		max-width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__box-block {
		position: relative;
		width: auto;
		& .block-game__menu_size {
			width: 100px;
			height: 0;
			padding: 0 15px 0 0;
			transition: all 1s linear;
		}
	}
	&__menu-box {
		position: absolute;
	}
	&__menu-btn {
		width: 100px;
		height: 100px;
		box-sizing: border-box;
		border-radius: 100px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		cursor: pointer;
		transform: translateY(-50%);
		background-color: white;
		border: 2px solid var(--colorItem, black);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		&:hover {
			animation: rotElem 1s ease infinite;
		}
		&:not(:nth-child(1)) {
			opacity: 0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			z-index: -2;
			transition: all 0.7s cubic-bezier(.87,-.41,.19,1.44);

		}
		&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
			top: 0;
			left: 0;
		}
		&:nth-child(2) {
			transition-delay: 0s;
		}
		&:nth-child(3) {
			transition-delay: 0.2s;
		}
		&:nth-child(4) {
			transition-delay: 0.4s;
		}
		&:nth-child(5) {
			transition-delay: 0.6s;
		}
		&:nth-child(6) {
			transition-delay: 0.8s;
		}
	}
	&__btn-menu, &__btn-close, &__btn-vibro_img {
		position: absolute;
		transition: all 0.2s ease;
	}
	&__btn-vibro_img {
		transform: translateX(0px);
		opacity: 1;
	}
	&__btn-close, &__btn-vibro_dis {
		transform: translateX(50px);
		opacity: 0;
	}
	&__menu {
		position: relative;
		display: none;
		&:checked ~ .block-game__menu-box {
			& .block-game__menu-btn {
				& .block-game__btn-menu {
					transform: translateX(-50px);
					opacity: 0;
				}
				& .block-game__btn-close {
					transform: translateX(0px);
					opacity: 1;
				}
				&:not(:nth-child(1)) {
					z-index: 1;
					opacity: 1;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				}
				&:nth-child(2) {
					top: -150px;
				}
				&:nth-child(3) {
					top: -105px;
					left: 105px;
				}
				&:nth-child(4) {
					left: 150px;
				}
				&:nth-child(5) {
					top: 105px;
					left: 105px;
				}
				&:nth-child(6) {
					top: 150px;
				}
			}
		}
	}
	&__menu_size-open {
		width: 250px !important;
	}
	&__btn {
		&_font {
			font-size: 2rem;
			line-height: 1rem;
			color: var(--colorItem, black);
		}
	}
	&__box-game {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		flex: 1 1;
		margin: 0 10px 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__box-lvl {
		width: 0;
		height: auto;
		transition: all 1s linear;
		overflow: hidden;
	}
	&__box-lvl_open {
		width: 73px;
	}
	&__box-lvl-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		border: 2px solid var(--colorItem, black);
		border-radius: 15px;
		padding: 10px;
		color: var(--colorItem, black);
		font-size: 1.5rem;
		line-height: 0.7rem;
		overflow: hidden;
	}
	&__btn-previous, &__btn-next {
		width: 1.6rem;
		cursor: pointer;
		padding: 0;
		color: var(--colorItem, black);
		line-height: 0.7rem;
		background-color: white;
		border-radius: 1.7rem;
		box-shadow: none;
		border: none;

	}
	&__btn-previous {
		transform: rotate(90deg);
	}
	&__lvl-num {
		margin: 30px 0;
		line-height: 0.8rem;
	}
	&__btn-next {
		transform: rotate(90deg);
	}
}
.js-game-grid {
	flex: 0 1;
	display: grid;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
}
.svg-elem-game {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	stroke: var(--colorItemGame, darkgrey);
	stroke-width: 2;
	cursor: pointer;
	fill: none;
    width: 100%;
	height: 100%;
}
.svg-elem-game use{
	transition: transform 1s linear;
}
.svg-elem-game-good use:nth-child(1) {
	stroke: white;
}
.svg-elem-game-good use:nth-child(2) {
	fill: white;
	stroke: white;
}
/* ----------------------- BLOCK 5-6 ------------------------ */
.block-style {
	&_box {
		box-sizing: border-box;
		max-width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&_nav {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	&_btn-back {
		width: 100px;
		height: 100px;
		font-size: 2rem;
		border-radius: 50%;
		line-height: 0.7rem;
		background-color: white;
		color: var(--colorItem, black);
		border: 1px solid var(--colorItem, black);
		box-shadow: none;
		&:hover {
			animation: rotBtn 1s ease infinite;
		}
	}
	&_nav-title {
		margin-left: 50px;
	}
	&_box-info {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 88vh;
		height: calc(var(--vh,1vh)*88);
	}
	&_box-svg {
		width: 40%;
		align-self: center;
	}
}
/* ------------------------ BLOCK 5 ------------------------- */
.block-calendar {
	&__box {
	}
	&__box-info {
		justify-content: space-evenly;
	}
	&__box-calendar {
		align-items: center;
	}
	&__box-for-cal {
		height: 510px;
	}
	&__box-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}
	&__btnPrv-2, &__btnNext-2 {
		display: none;
	}
	&__btnPrv, &__btnNext, &__btnPrv-2, &__btnNext-2 {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		line-height: 0.7rem;
		font-size: 1.5rem;
		background-color: white;
		color: var(--colorItem, black);
		border: 1px solid var(--colorItem, black);
		box-shadow: none;
		&:hover {
			//animation: rotBtn 1s ease infinite;
		}
	}
	&__btnPrv {
	}
	&__btnNext {
	}
	&__subtitle {
		margin: 0 15px;
	}
	&__calendar {
		padding: 20px;
		border: 1px solid var(--colorItem, black);
		border-radius: 15px;
		background-color: rgba(255, 255, 255, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		& table {
			border: 1px solid var(--colorItem, black);
			border-collapse: collapse;
			color: var(--colorItem, black);
			font-size: 1.3rem;
			background-color: white;
		}
		& thead td {
		}
		& td {
			width: 55px;
			height: 55px;
			text-align: center;
			vertical-align: middle;
			border: 1px solid #dcdcff;
		}
	}
	&__table-i-days {
		font-weight: bold;
	}
	&__table-i-dayNotCur {
		color: lightgray;
	}
	&__table-i-dayNow {
		color: red;
	}
	&__table-i-dayNorm {
		color: black;
	}
	&__table-i-dayNow:active, &__table-i-dayNorm:active {
		font-weight: bold;
	}
}
/* ------------------------ BLOCK 6 ------------------------- */
.block-tops {
	&__box {
	}
	&__box-table {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__title {
		margin-bottom: 20px;
	}
	&__table {
		border: 2px solid var(--colorItem, black);
		padding: 20px;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.8);
		color: var(--colorItem, black);
		& tr {
			height: 50px;
			& td {
				text-align: center;
				border-bottom: 1px solid var(--colorItem, black);
			}
			& td:nth-child(1) {
				width: 100px;
			}
			& td:nth-child(2) {
				width: 300px;
			}
			& td:nth-child(3) {
				width: 300px;
			}
		}
		& tr:first-child {
			font-weight: bold;
		}
	}
}
/* -------------------- Аdaptive layout --------------------- */
@media screen and (max-width: 1400px) {
	/* ----------------------- BLOCK 2-3 ------------------------ */
	.block-connect {
		&__title {
			font-size: 3rem;
		}
		&__box-svg {
			flex: 0 1 500px;
		}
	}
}
@media screen and (max-width: 1200px) {
	html{
		font-size: 28px;
	}
	/* ----------------------- BLOCK 2-3 ------------------------ */
	.block-connect {
		&__title {
			font-size: 3rem;
		}
		&__for-input {
			width: 300px;
		}
		&__text-info {
			height: 46px;
		}
		&__label {
			&_size {
				width: 285px;
				flex: 0 0 285px;
			}
		}
		&__box-input {
			padding-bottom: 6px;
		}
	}
	/* ------------------------ BLOCK 4 ------------------------- */
	.block-game {
		&__box-block {
			& .block-game__menu_size {
				width: 80px;
			}
		}
		&__menu-btn {
			width: 80px;
			height: 80px;
			border-radius: 80px;
		}
		&__menu {
			&:checked ~ .block-game__menu-box {
				& .block-game__menu-btn {
					&:nth-child(2) {
						top: -120px;
					}
					&:nth-child(3) {
						top: -80px;
						left: 80px;
					}
					&:nth-child(4) {
						left: 120px;
					}
					&:nth-child(5) {
						top: 80px;
						left: 80px;
					}
					&:nth-child(6) {
						top: 120px;
					}
				}
			}
		}
		&__box-lvl_open {
			width: 70px;
		}
		&__box-lvl-list {
			padding: 5px;
		}
		&__menu_size-open {
			width: 200px !important;
		}
	}
	/* ----------------------- BLOCK 5-6 ------------------------ */
	.block-style {
		&_btn-back {
			width: 80px;
			height: 80px;
		}
	}
	/* ------------------------ BLOCK 5 ------------------------- */
	.block-calendar {
		&__btnPrv, &__btnNext, &__btnPrv-2, &__btnNext-2 {
			width: 60px;
			height: 60px;
		}
	}
}
@media screen and (max-width: 1100px) {
	/* ----------------------- BLOCK 2-3 ------------------------ */
	.block-connect {
		&__label {
			&_size {
				text-align: center;
				width: 100%;
				flex: 0 0 auto;
			}
		}
		&__subtitle {
			padding-bottom: 5vh;
		}
		&__block-inputs {
			align-items: center;
		}
		&__box-input {
			flex-direction: column;
			align-items: stretch;
		}
		&__box-btn {
			flex-direction: column;
		}
		&__btn1-reg {
			order: 1;
			margin-bottom: 20px;
		}
		&__link {
			order: 2;
		}
		&__btn2-login {
			order: 1;
			margin-bottom: 20px;
		}
		&__box-input {
			padding-bottom: 0;
		}
	}
}
@media screen and (max-width: 850px) and (max-height: 849px) and (orientation:landscape) {
	/* ------------------------ BLOCK 1 ------------------------- */
	.block-start {
		&__title {
			font-size: 4rem;
		}
		&__btn {
			margin: 20px 0;
		}
		&__text {
			margin-top: 0;
		}
	}
	/* ----------------------- BLOCK 2-3 ------------------------ */
	.block-connect {
		&__title {
			font-size: 2rem;
		}
		&__box-svg {
			height: 50%;
			flex: 0 1 auto;
		}
	}
}
@media all and (orientation:portrait) {
	html {
		font-size: 20px;
	}
	/* ------------------------ BLOCK 0 ------------------------- */
	.block-loading {
		&__box {
			flex-direction: column;
		}
	}
	/* ------------------------ BLOCK 1 ------------------------- */
	.block-start {
		&__box {
			flex-direction: column;
		}
	}
	/* ----------------------- BLOCK 2-3 ------------------------ */
	.block-connect {
		&__box {
			flex-direction: column;
			justify-content: center;
		}
		&__info {
			width: 100%;
			height: 60vh;
			height: calc(var(--vh,1vh)*60);
			padding: 0;
			flex: 0 1 200px;
			flex-direction: row;
		}
		&__text-info {
			font-size: 0.7rem;
		}
		&__box-form {
			flex: 0 1 400px;
		}
		&__box-svg {
			flex: 0 1 auto;
		}
		&__subtitle {
			font-size: 2rem;
			padding-bottom: 3vh;
		}
	}
	/* ------------------------ BLOCK 4 ------------------------- */
	.block-game {
		&__box {
			flex-direction: column;
		}
		&__box-block {
			order: 3;
			& .block-game__menu_size {
				padding: 15px 0 0 0;
				width: 0;
				height: 65px;
			}
		}
		&__menu-btn {
			order: 2;
			width: 60px;
			height: 60px;
			border-radius: 60px;
			transform: translateY(-100%) translateX(-50%);
			&:hover {
				animation: none;
			}
			&:not(:nth-child(1)) {
				transition: all 0.7s cubic-bezier(.87,-.41,.19,1.44);
			}
		}
		&__btn-close {
			transform: translateY(50px);
		}
		&__menu {
			&:checked ~ .block-game__menu-box {
				& .block-game__menu-btn {
					//transform: translateY(-100%) translateX(-50%);
					& .block-game__btn-menu {
						transform: translateY(-50px);
					}
					& .block-game__btn-close {
						transform: translateY(0px);
					}
					&:nth-child(2) {
						top: 0;
						left: -120px;
					}
					&:nth-child(3) {
						top: -80px;
						left: -80px;
					}
					&:nth-child(4) {
						top: -120px;
						left: 0;
					}
					&:nth-child(5) {
						top: -80px;
					}
					&:nth-child(6) {
						top: 0;
						left: 120px;
					}
				}
			}
		}
		&__box-game {
			order: 2;
			margin: 10px 0 0 0;
		}
		&__box-lvl {
			order: 1;
			width: auto;
			height: 0;
		}
		&__box-lvl_open {
			width: auto;
			height: 45px;
		}
		&__box-lvl-list {
			flex-direction: row;
			padding: 5px;
		}
		&__btn-previous {
			transform: rotate(0);
		}
		&__lvl-num {
			margin: 0 30px;
		}
		&__btn-next {
			transform: rotate(0);
		}
		&__menu_size-open {
			box-sizing: border-box;
			width: 0 !important;
			height: 195px !important;
		}
	}
	/* ----------------------- BLOCK 5-6 ------------------------ */
	.block-style {
		&_nav-title {
			margin-left: 30px;
		}
		&_btn-back {
			width: 60px;
			height: 60px;
		}
		&_box-info {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		&_box-svg {
			width: auto;
			height: 30%;
			flex: 0 1 auto;
			margin-bottom: 15px;
		}
	}
	/* ------------------------ BLOCK 5 ------------------------- */
	.block-calendar {
		&__calendar {
			padding: 10px;

			& td {
				width: 40px;
				height: 40px;
			}
		}
		&__box-for-cal {
			height: 370px;
		}
	}
	/* ------------------------ BLOCK 6 ------------------------- */
	.block-tops {
		&__box-table {
			width: 80%;
		}
	}
}
@media screen and (max-height: 700px) {
	.body__container {
		padding: 15px;
	}
	/* ------------------------ BLOCK 5 ------------------------- */
	.block-calendar {
		&__box-svg {
			padding-top: 5px;
		}
		&__box-calendar {
			display: flex;
			flex-direction: row;
		}
		&__calendar {
			padding: 10px;
			margin: 0 10px;
			& table {
				font-size: 1.2rem;
			}
			& td {
				width: 45px;
				height: 45px;
			}
		}
		&__box-btn {
			display: none;
		}
		&__btnPrv-2, &__btnNext-2 {
			display: block;
		}
		&__box-for-cal {
			height: 398px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
@media screen and (max-height: 700px) and (orientation:portrait) {
	/* ------------------------ BLOCK 5 ------------------------- */
	.block-calendar {
		&__box-calendar {
			//height: 398px;
		}
	}
}
@media screen and (max-height: 520px) and (max-width: 920px) and (orientation:landscape) {
	html {
		font-size: 20px;
	}
	/* ------------------------ BLOCK 1 ------------------------- */
	.block-start {
		&__title {
			font-size: 4rem;
		}
		&__btn {
			margin: 20px 0;
		}
		&__text {
			margin-top: 0;
		}
	}
	/* ----------------------- BLOCK 2-3 ------------------------ */
	.block-connect {
		&__label {
			&_size {
				text-align: left;
				flex: 0 0 205px;
			}
		}
		&__box-input {
			flex-direction: row;
			align-items: stretch;
		}
		&__text-info {
			height: 28px;
		}
		&__box-btn {
			flex-direction: row;
			align-items: center;
		}
		&__btn1-reg {
			order: 2;
			margin-bottom: 0;
		}
		&__link {
			order: 1;
		}
		&__btn2-login {
			order: 2;
			margin-bottom: 0;
		}
		&__subtitle {
			font-size: 1.5rem;
			padding-bottom: 2vh;
		}
		&__box-svg {
			height: 55%;
			flex: 0 1 auto;
		}
		&__title {
			font-size: 2.7rem;
		}
		&__form {
			padding: 10px;
		}
		&__btn1-login, &__btn1-reg, &__btn2-login, &__btn2-reg {
			width: 175px;
			margin: 0 10px;
		}
		&__box-form {
			padding: 0 10px;
		}
		&__info {
			padding: 0 10px;
		}
	}
	/* ------------------------ BLOCK 4 ------------------------- */
	.block-game {
		&__box-block {
			& .block-game__menu_size {
				width: 65px;
			}
		}
		&__menu-btn {
			width: 60px;
			height: 60px;
			border-radius: 60px;
			&:hover {
				animation: none;
			}
		}
		&__menu {
			&:checked ~ .block-game__menu-box {
				& .block-game__menu-btn {
					&:nth-child(2) {
						top: -70px;
					}
					&:nth-child(3) {
						top: -53px;
						left: 56px;
					}
					&:nth-child(4) {
						left: 80px;
					}
					&:nth-child(5) {
						top: 53px;
						left: 56px;
					}
					&:nth-child(6) {
						top: 70px;
					}
				}
			}
		}
		&__box-lvl_open {
			width: 50px;
		}
		&__box-lvl-list {
			padding: 5px;
		}
		&__menu_size-open {
			width: 140px !important;
		}
	}
	/* ----------------------- BLOCK 5-6 ------------------------ */
	.block-style {
		&_btn-back {
			width: 50px;
			height: 50px;
			font-size: 1.5rem;
		}
		&_nav-title {
			margin-left: 25px;
		}
		&_box-info {
			height: 80vh;
			height: calc(var(--vh,1vh)*80);
		}
		&_box-svg {
			width: 35%;
			height: 60vh;
			height: calc(var(--vh,1vh)*60);
			flex: 0 1 auto;
		}
	}
	/* ------------------------ BLOCK 5 ------------------------- */
	.block-calendar {
		&__calendar {
			padding: 5px;
			border-radius: 10px;
			& table {
				font-size: 1rem;
			}
			& td {
				width: 32px;
				height: 32px;
			}
		}
		&__box-for-cal {
			height: 295px;
		}
		&__btnPrv-2, &__btnNext-2 {
			width: 48px;
			height: 48px;
		}
	}
	/* ------------------------ BLOCK 6 ------------------------- */
	.block-tops {
		&__box-table {
			height: 100%;
			flex: 1 1 auto;
		}
		&__title {
			margin-bottom: 5px;
		}
		&__table {
			border-width: 1px;
			padding: 0 8px;
			& tr {
				height: 25px;
				& td:nth-child(1) {
					width: 80px;
				}
				& td:nth-child(2) {
					width: 150px;
				}
				& td:nth-child(3) {
					width: 200px;
				}
			}
		}
	}
}
@media screen and (max-height: 760px) and (max-width: 500px) {
	/* ------------------------ BLOCK 5 ------------------------- */
	.block-calendar {
		&__calendar {
			//padding: 5px;
		}
		&__box-calendar {
			//height: 360px;
		}
		&__btnPrv-2, &__btnNext-2 {
			font-size: 1rem;
			width: 34px;
			height: 34px;
		}
		&__box-svg {
			height: 100px;
			flex: 1 1 auto;
		}
		&__box-info {
			flex: 1 1;
		}
	}
}
@media screen and (max-height: 380px) {
	/* ----------------------- BLOCK 5-6 ------------------------ */
	.block-style {
		&_nav-title {
			font-size: 1.2rem;
		}
		&_btn-back {
			width: 38px;
			height: 38px;
			font-size: 1.2rem;
		}
	}
	/* ------------------------ BLOCK 5 ------------------------- */
	.block-calendar {
		&__calendar {
			padding: 3px;
			border-radius: 3px;
			& table {
				font-size: 0.7rem;
			}
			& td {
				width: 25px;
				height: 25px;
			}
			&__box-for-cal {
				height: 233px;
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.body__container {
		padding: 15px;
	}
	/* ------------------------ BLOCK 0 ------------------------- */
	.block-loading {
		&__box-svg {
			width: 100%;
		}
		&__text {
			width: auto;
			font-size: 1.3rem;
		}
	}
	/* ------------------------ BLOCK 1 ------------------------- */
	.block-start {
		&__box-svg {
			height: auto;
		}
		&__title {
			font-size: 4rem;
		}
		&__btn {
			margin: 20px 0;
		}
		&__text {
			margin-top: 0;
		}
	}
	/* ----------------------- BLOCK 2-3 ------------------------ */
	.block-connect {
		&__title {
			font-size: 2.5rem;
		}
	}
	/* ------------------------ BLOCK 4 ------------------------- */
	.block-game {
		&__menu {
			&:checked ~ .block-game__menu-box {
				& .block-game__menu-btn {
					&:nth-child(2) {
						top: 0;
						left: -90px;
					}
					&:nth-child(3) {
						top: -60px;
						left: -60px;
					}
					&:nth-child(4) {
						top: -90px;
						left: 0;
					}
					&:nth-child(5) {
						top: -60px;
						left: 60px;
					}
					&:nth-child(6) {
						top: 0;
						left: 90px;
					}
				}
			}
		}
		&__menu_size-open {

			width: 0 !important;
			height: 165px !important;
		}
	}
	/* ----------------------- BLOCK 5-6 ------------------------ */
	.block-style {
		&_nav-title {
			margin-left: 20px;
			font-size: 1.3rem;
		}
		&_box-info {
			justify-content: space-evenly;
		}
	}
	/* ------------------------ BLOCK 6 ------------------------- */
	.block-tops {
		&__box-table {
			width: 100%;
		}
	}
}
@media screen and (max-height: 600px) and (max-width: 400px) {
	/* ------------------------ BLOCK 5 ------------------------- */
	.block-calendar {
		&__box-svg {
			display: none;
		}
	}
}















@media all and (orientation:landscape) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}