@import "normalize-SCSS";
/* ------------------------- Style -------------------------- */
html {
	font-family: 'Jura', sans-serif;
	font-size: 32px;
	font-weight: 400;
	font-style: normal;
	color: white;
}
body {
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	position: relative;
}
.body_gradient {
	background: linear-gradient(45deg, #1CB5E0 0%, #000851 100%) fixed;
}
.body_animation {
	position: fixed;
	height: 100vh;
	height: calc(var(--vh,1vh)*100);
	top: 0;
	left: 0;
}
.body__container {
	box-sizing: border-box;
	max-width: 1900px;
	height: 100vh;
	height: calc(var(--vh,1vh)*100);
	margin: 0 auto;
	padding: 30px;
	position: relative;
}
.btn_opacity {
	background-color: rgba(255,255,255,0.4);
	transition: background-color 0.5s linear;
	&:hover {
		background-color: rgba(255,255,255,1);
	}
}
/* ------------------------ BLOCK 0 ------------------------- */
.block-loading {
	&__box {
		box-sizing: border-box;
		max-width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	&__box-svg {
		width: 400px;
		height: 100vh;
		height: calc(var(--vh,1vh)*97);
	}
	//&__svg {   } // создаёт JS
	&__text {
		width: 320px;
		cursor: wait;
		& b:hover{
			font-size: 1.1rem;
		}
	}
}
//svg-loading_anim-line {  } // создаёт JS
/* ------------------------ BLOCK 1 ------------------------- */
.block-start {
	&__box {
	}

	&__box-title {
	}

	&__title {
	}

	&__text {
	}

	&__img-anim {
	}
}
/* ------------------------ BLOCK 2 ------------------------- */
.block-reg {
	&__box {
		box-sizing: border-box;
		max-width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	&__info {
		width: 40%;
		height: 100vh;
		height: calc(var(--vh,1vh)*97);
		padding: 5px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__title {
		font-size: 4rem;
		letter-spacing: 10px;
		flex: 0 1;
	}
	&__box-svg {
		flex: 0 1 700px;
	}
	&__box-form {
		height: 100vh;
		height: calc(var(--vh,1vh)*97);
		padding: 5px 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__subtitle {
		font-size: 2rem;
		padding-bottom: 10vh;
	}
	&__form {
		box-sizing: border-box;
		padding: 15px;
		border: 2px solid var(--colorItem,#0F669F);
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 20px;
	}
	&__block-inputs {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__box-input {
		display: flex;
		padding-bottom: 10px;
	}
	&__label-text {
	}
	&__label {
		&_size {
			width: 320px;
			flex: 0 0 320px;
		}
	}
	&__for-input {
		max-width: 360px;
		flex: 0 1 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	&__input {
		width: 98%;
		border: 1px solid var(--colorItem,#0F669F);
		border-radius: 7px;
		text-transform: uppercase;
	}
	&__text-info {
		width: 100%;
		height: 52px;
		font-size: 0.6rem;
		font-style: italic;
		color: yellow;
		text-align: justify;
	}
	&__box-btn {
		display: flex;
		justify-content: center;
	}
	&__btn-login, &__btn-reg{
		width: 275px;
		margin: 0 20px;
		box-sizing: border-box;
		border: 1px solid var(--colorItem,#0F669F);
		border-radius: 7px;
		cursor: pointer;
		color: var(--colorItem,#0F669F);
		&:hover {
			border-color: black;
		}
	}
}
/* -------------------- Аdaptive layout --------------------- */
@media screen and (max-width: 1400px) {
	/* ------------------------ BLOCK 2 ------------------------- */
	.block-reg {
		&__title {
			font-size: 3rem;
		}
		&__box-svg {
			flex: 0 1 500px;
		}
	}
}
@media screen and (max-width: 1200px) {
	html{
		font-size: 28px;
	}
	/* ------------------------ BLOCK 2 ------------------------- */
	.block-reg {
		&__title {
			font-size: 3rem;
		}
		&__for-input {
			width: 300px;
		}
		&__text-info {
			height: 46px;
		}
		&__label {
			&_size {
				width: 285px;
				flex: 0 0 285px;
			}
		}
		&__box-input {
			padding-bottom: 6px;
		}
	}
}
@media screen and (max-width: 1100px) {
	/* ------------------------ BLOCK 2 ------------------------- */
	.block-reg {
		&__label {
			&_size {
				text-align: center;
				width: 100%;
				flex: 0 0 auto;
			}
		}
		&__subtitle {
			padding-bottom: 5vh;
		}
		&__block-inputs {
			align-items: center;
		}
		&__box-input {
			flex-direction: column;
			align-items: stretch;
		}
		&__box-btn {
			flex-direction: column;
		}
		&__btn-reg {
			order: 1;
			margin-bottom: 20px;
		}
		&__btn-login {
			order: 2;
		}
		&__box-input {
			padding-bottom: 0;
		}
	}
}
@media screen and (max-width: 850px) and (max-height: 849px){
	/* ------------------------ BLOCK 2 ------------------------- */
	.block-reg {
		&__title {
			font-size: 2rem;
		}
		&__box-svg {
			height: 50%;
			flex: 0 1 auto;
		}
	}
}
@media screen and (max-height: 520px) {
	html {
		font-size: 20px;
	}
	/* ------------------------ BLOCK 2 ------------------------- */
	.block-reg {
		&__label {
			&_size {
				text-align: left;
				flex: 0 0 205px;
			}
		}
		&__box-input {
			flex-direction: row;
			align-items: stretch;
		}
		&__text-info {
			height: 28px;
		}
		&__box-btn {
			flex-direction: row;
			align-items: center;
		}
		&__btn-reg {
			order: 2;
			margin-bottom: 0;
		}
		&__btn-login {
			order: 1;
		}
		&__subtitle {
			font-size: 1.5rem;
			padding-bottom: 2vh;
		}
		&__box-svg {
			height: 55%;
			flex: 0 1 auto;
		}
		&__title {
			font-size: 2.7rem;
		}
		&__form {
			padding: 10px;
		}
		&__btn-login, &__btn-reg {
			width: 175px;
			margin: 0 10px;
		}
		&__box-form {
			padding: 0 10px;
		}
		&__info {
			padding: 0 10px;
		}
	}
}
@media all and (orientation:portrait) {
	html {
		font-size: 20px;
	}
	/* ------------------------ BLOCK 0 ------------------------- */
	.block-loading {
		&__box {
			flex-direction: column;
		}
	}
	/* ------------------------ BLOCK 2 ------------------------- */
	.block-reg {
		&__box {
			flex-direction: column;
			justify-content: center;
		}
		&__info {
			width: 100%;
			height: 100vh;
			height: calc(var(--vh,1vh)*60);
			padding: 0;
			flex: 0 1 200px;
			flex-direction: row;
		}
		&__text-info {
			font-size: 0.7rem;
		}
		&__box-form {
			flex: 0 1 400px;
		}
		&__box-svg {
			flex: 0 1 auto;
		}
		&__subtitle {
			font-size: 2rem;
			padding-bottom: 3vh;
		}
	}
}
@media screen and (max-width: 480px) {
	/* ------------------------ BLOCK 0 ------------------------- */
	.block-loading {
		&__box-svg {
			width: 100%;
		}
		&__text {
			width: auto;
			font-size: 1.3rem;
		}
	}
	/* ------------------------ BLOCK 2 ------------------------- */
	.block-reg {
		&__title {
			font-size: 2.5rem;
		}
	}
}














@media all and (orientation:landscape) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 980px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}